
*.sqlite
.vs/Simca1.6/v16/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
appBanco/.vs/appBancoo/v16/.suo
appBanco/.vs/appBancoo/v16/Server/sqlite3/storage.ide
appBanco/.vs/appBancoo/v16/Server/sqlite3/storage.ide-shm
appBanco/.vs/appBancoo/v16/Server/sqlite3/storage.ide-wal
appBanco/appBanco/accesoDatos/Datos.cs
appBanco/appBanco/bin/Debug/appBanco.exe
appBanco/appBanco/bin/Debug/appBanco.pdb
appBanco/appBanco/logica/departamento.cs
appBanco/appBanco/obj/Debug/appBanco.csproj.FileListAbsolute.txt
appBanco/appBanco/obj/Debug/appBanco.csproj.GenerateResource.cache
appBanco/appBanco/obj/Debug/appBanco.csprojAssemblyReference.cache
appBanco/appBanco/obj/Debug/appBanco.exe
appBanco/appBanco/obj/Debug/appBanco.pdb
appBanco/.vs/appBancoo/v16/Server/sqlite3/storage.ide
appBanco/.vs/appBancoo/v16/Server/sqlite3/storage.ide-shm
appBanco/.vs/appBancoo/v16/Server/sqlite3/storage.ide-wal
